@font-face {
    font-family: 'Raleway';
    src: url('assets/font/Raleway-VariableFont_wght.ttf') format('woff2'), /* Path to the font file */
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

div {
    border: solid 1px;
}

.container {
    display: flex;
}

.inline {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    justify-content: space-between;
    margin-top: 0;
    height: 10vh;
    width: 100%;
    background-color: #fbeb99;
}

.nav-right {
    display: inline-flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-right > a {
    margin: auto 4vw;
}

#shopping-bag {
    height: 100%;
}

.slogan {
    text-align: center;
    font-size: 3.5em;
}

#c1 {
    justify-content: space-around;
    padding: 4vh 1vw;
}

.item {
    display: inline-flex;
    flex-direction: column;
    width: 25vw;
    padding: 1vh 4%;
    margin: 3vh 4vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
    text-align: center;
}

.info > h3 {
    font-size: 2em;
}

.info > p {
    font-size: 1.3em;
    font-weight: bold;
}

/*arsenal page*/

.precise-item  {
    padding: 2vh 10vw;
    font-size: 2.5em;
    justify-content: center;
}
.precise-item > img {
    max-width: 40%;
}
.precise-item > div {
    width: 30vw;
}
.color-block {
    border: solid 0.1em #fbeb99;
    width: 2.5vw;
    height: 2.5vw;
    background-color: black;
}

.description {
    font-size: 1.5em;
    padding: 2% 10%;
    background-color: #fbeb99;
    color: black;
}

.description > h4 {
    font-size: 1.7em;
}

#buy {
    height: 6vh;
    width: 14vw;
    background-color: #fbeb99;
    border-radius: 25px;
    border-color: white;
    box-shadow: none;
    font-size: 0.5em;
}

/*pannier page*/

.panier-container {
    padding: 10%;
    display: flex;
    flex-direction: column;
}

.panier-container > div {
    display: none;
}

.data-form {
    margin: -18vh 20vw;
    display: none;
    position: fixed;
    flex-direction: column;
    width: 30vw;
    padding: 2%;
    justify-content: center;
    font-size: 1.35em;
    max-height: 80vh;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #fbeb99;
}

.data-form > img {
    max-height: 20vh;
    object-fit: scale-down;
}

.panier-item {
    display: flex;
    font-size: 1.8em;
}

.panier-item > img {
    max-width: 15%;
    height: 15vw;
    display: inline;
}

.panier-item > div {
    display: inline;
}

.buy-container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0vh 25%;
    align-items: center;
}

.quantity-selector > img, .quantity-selector > button {
    max-width: 5%;
    max-height: 1%;
    background-color: transparent;
    border: none;
    margin: none;
}
#empty-cart {
    text-align: center;
}

#empty-cart > img {
    max-width: 20%;
    max-height: 25%;
}
footer {
    text-align: center;
}